<img src="/static/images/nature.jpg">

<h2>
  Read the latest from one of the world's premiere science journals
</h2>

<ul>
  {{#each articles}}
    <li>
      <p><span class="photo"></span><img src="{{this.photo}}"></p>
      <p><span class="headline"></span>{{this.headline}}</p>
      <p><span class="datePublished">Date Published:</span> {{this.datePublished}}</p>
      <p><span class="author">Author:</span> {{this.author}}</p>
      <p><span class="summary"></span>{{this.summary}}</p>
      <p><span class="url"></span>{{this.url}}</p>
    </li>
  {{/each}}
</ul>